body{
    img{
        max-width: 100%;
        height: auto;
    }
    
    .container{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    } 
    .header{
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header_logo{
                img{
                    width: 100%;
                    height: 6rem;
                }
            }
            .header_menu{
                ul{
                    display: flex;
                    li{
                        padding: 4rem 4rem;
                        transition: all 2s;
                        
                        a{
                            
                            font-size: 1.8rem;
                            font-weight: 600;
                            color: black;
                        }
                        &:hover{
                            background: linear-gradient(0, rgb(65, 89, 211), rgb(195, 141, 207)); 
                            a{
                                color: white;
                            }
                        }
                       
                    }
                    
                   
                }
            }
        }
    }
    .list{
        position: absolute;
        width: 100%;
        .cont_lis{
            position: absolute;
            bottom: -25rem;
            width: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    display: flex;
                    width: 32rem;
                    padding: 1.9rem;
                    .item_left{
                        h3{
                            font-size: 5rem;
                            line-height: 5rem;
                            color: white;
                            margin-bottom: 3rem;
                            font-weight: 300;
                        }
                        p{
                            font-size: 2.3rem;
                            line-height: 2.7rem;
                            color: white;
                            font-weight: 300;
                        }
                    }
                    .item_right{
                        display: flex;
                        flex-direction: column;
                        flex-direction: column-reverse;
                        a{
                            i{
                                padding: 1.3rem;
                                font-size: 6rem;
                                color: white;
                            }
                        }
                    }
                } 
                .item1{
                    background-color: purple; /* Dành cho các trình duyệt không hỗ trợ gradient*/
                    background-image: linear-gradient(to  right, rgb(15, 190, 9), rgb(29, 221, 45)); 
                }  
                .item2{
                    background-color: purple; /* Dành cho các trình duyệt không hỗ trợ gradient*/
                    background-image: linear-gradient(350deg, rgb(85, 53, 231), rgb(103, 114, 214)); 
                }           
    
                .item3{
                    background-color: purple; /* Dành cho các trình duyệt không hỗ trợ gradient*/
                    background-image: linear-gradient(0, rgb(226, 136, 136), rgb(223, 75, 75)); 
                }  
                .item4{
                    background-color: purple; /* Dành cho các trình duyệt không hỗ trợ gradient*/
                    background-image: linear-gradient(0, rgb(92, 102, 150), rgb(196, 142, 212)); 
                }  
            }
        }
    }
    .img_br{
        // background-image:url(../img/brok.jpg);
        // background-repeat: no-repeat;
        // background-size: cover;
        // min-height: 75rem;
        // background-position: center;
        position: relative;
        height: 100vh;
        width: 100%;
        // margin-bottom: 25rem;
        .sliders{
            height: 100%;
            transition: all 0.2s;
            display: none;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        
        .icon__slider{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            i{
                cursor: pointer;
                font-size: 6.5rem;
                font-weight: 600;
                color: black;
            }
           
        }
        .icon__right{
            right: 4rem;
        }
        .icon__left{
            left: 4rem;
        }
        
    }
    .content1{
        width: 100%;
        height: 115rem;
        margin-top: 25rem;
        .container{
            
            .conten1__list{
                display: flex;
                flex-wrap: wrap;
                margin-left: -2rem;
                margin-right: -2rem;   
                .content1__item{
                    padding-left: 2rem;
                    padding-right: 2rem;
                    max-height: 100%;
                    width: 50%;
                    padding-top : 2rem ;
                    padding-bottom: 2rem;
                    .content1__col{
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .content1__col--text{
                        padding: 4.5rem;
                        background-color: rgb(234, 241, 226);
                        width: 100%;
                        height: 100%;
                        .conten1__title{
                            margin-top:7rem ;
                            font-size: 4.5rem;
                            line-height: 6rem;
                        }
                        .content1__text{
                            margin: 2.5rem 0;
                            color: rgb(100, 94, 89);
                            font-size: 2.3rem;
                            line-height: 2.7rem;


                        }
                        .content1__link{
                            background: rgb(2,0,36);
                            background: linear-gradient(90deg, rgb(241, 136, 15) 35%, rgb(185, 111, 122) );
                            padding: 1.8rem 4rem;
                            font-size: 1.8rem;
                            margin: 1.5rem 0;
                            display: inline-block;
                            font-weight: 600;
                            color: white;
                            transition: all 0.25s;
                            border-radius: 0.9rem;
                            &:hover{
                                background: linear-gradient(90deg, rgb(224, 153, 72) 35%, rgb(185, 111, 122) );
                                box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.288);
                            }
                        }
                    }
    
                }
            }
        }
    }
    
   
}