@charset "UTF-8";
body img {
  max-width: 100%;
  height: auto;
}

body .container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

body .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .container .header_logo img {
  width: 100%;
  height: 6rem;
}

body .header .container .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .container .header_menu ul li {
  padding: 4rem 4rem;
  -webkit-transition: all 2s;
  transition: all 2s;
}

body .header .container .header_menu ul li a {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
}

body .header .container .header_menu ul li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#4159d3), to(#c38dcf));
  background: linear-gradient(0, #4159d3, #c38dcf);
}

body .header .container .header_menu ul li:hover a {
  color: white;
}

body .list {
  position: absolute;
  width: 100%;
}

body .list .cont_lis {
  position: absolute;
  bottom: -25rem;
  width: 100%;
}

body .list .cont_lis ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .list .cont_lis ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32rem;
  padding: 1.9rem;
}

body .list .cont_lis ul li .item_left h3 {
  font-size: 5rem;
  line-height: 5rem;
  color: white;
  margin-bottom: 3rem;
  font-weight: 300;
}

body .list .cont_lis ul li .item_left p {
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: white;
  font-weight: 300;
}

body .list .cont_lis ul li .item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
}

body .list .cont_lis ul li .item_right a i {
  padding: 1.3rem;
  font-size: 6rem;
  color: white;
}

body .list .cont_lis ul .item1 {
  background-color: purple;
  /* Dành cho các trình duyệt không hỗ trợ gradient*/
  background-image: -webkit-gradient(linear, left top, right top, from(#0fbe09), to(#1ddd2d));
  background-image: linear-gradient(to right, #0fbe09, #1ddd2d);
}

body .list .cont_lis ul .item2 {
  background-color: purple;
  /* Dành cho các trình duyệt không hỗ trợ gradient*/
  background-image: linear-gradient(350deg, #5535e7, #6772d6);
}

body .list .cont_lis ul .item3 {
  background-color: purple;
  /* Dành cho các trình duyệt không hỗ trợ gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#e28888), to(#df4b4b));
  background-image: linear-gradient(0, #e28888, #df4b4b);
}

body .list .cont_lis ul .item4 {
  background-color: purple;
  /* Dành cho các trình duyệt không hỗ trợ gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#5c6696), to(#c48ed4));
  background-image: linear-gradient(0, #5c6696, #c48ed4);
}

body .img_br {
  position: relative;
  height: 100vh;
  width: 100%;
}

body .img_br .sliders {
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}

body .img_br .sliders img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body .img_br .icon__slider {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

body .img_br .icon__slider i {
  cursor: pointer;
  font-size: 6.5rem;
  font-weight: 600;
  color: black;
}

body .img_br .icon__right {
  right: 4rem;
}

body .img_br .icon__left {
  left: 4rem;
}

body .content1 {
  width: 100%;
  height: 115rem;
  margin-top: 25rem;
}

body .content1 .container .conten1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}

body .content1 .container .conten1__list .content1__item {
  padding-left: 2rem;
  padding-right: 2rem;
  max-height: 100%;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body .content1 .container .conten1__list .content1__item .content1__col img {
  height: 100%;
  width: 100%;
}

body .content1 .container .conten1__list .content1__item .content1__col--text {
  padding: 4.5rem;
  background-color: #eaf1e2;
  width: 100%;
  height: 100%;
}

body .content1 .container .conten1__list .content1__item .content1__col--text .conten1__title {
  margin-top: 7rem;
  font-size: 4.5rem;
  line-height: 6rem;
}

body .content1 .container .conten1__list .content1__item .content1__col--text .content1__text {
  margin: 2.5rem 0;
  color: #645e59;
  font-size: 2.3rem;
  line-height: 2.7rem;
}

body .content1 .container .conten1__list .content1__item .content1__col--text .content1__link {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #f1880f), to(#b96f7a));
  background: linear-gradient(90deg, #f1880f 35%, #b96f7a);
  padding: 1.8rem 4rem;
  font-size: 1.8rem;
  margin: 1.5rem 0;
  display: inline-block;
  font-weight: 600;
  color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 0.9rem;
}

body .content1 .container .conten1__list .content1__item .content1__col--text .content1__link:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #e09948), to(#b96f7a));
  background: linear-gradient(90deg, #e09948 35%, #b96f7a);
  -webkit-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.288);
          box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.288);
}
/*# sourceMappingURL=main.css.map */